<!DOCTYPE html>
<html>
<body>

<h1>New Blog Post</h1>

<form  action="/blogs" accept-charset="UTF-8" method="post">
  <input name="utf8" type="hidden" value="&#x2713;" />
  <input name="authenticity_token" type="hidden" value="$csrf_token()" />
  <div>
    <label for="title">Title</label>
  </div>
  <div>
    <input name="blog[title]" id="title" type="text">
  </div>
  <div>
    <label for="author">Author</label>
  </div>
  <div>
    <input name="blog[author]" id="author" type="text">
  </div>
  <div>
    <label for="content">Content</label>
  </div>
  <div>
    <input name="blog[content]" id="content" type="text">
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
</form>

</body>
</html>
